<div class="card mb-2" [ngClass]="
    moldeadora.estatus == 'Operando' ? 'border-success' : 'border-danger'
  ">
    <div class="card-header">
        {{ moldeadora.moldeadora }} {{ moldeadora.estatus }}
    </div>
    <div class="card-body">
        <h5 class="card-title">Material: {{ moldeadora.material }}</h5>
        <h5 class="card-subtitle mb-2">Molde: {{ moldeadora.molde }}</h5>
        <h6 class="text-muted">Números de Parte:</h6>
        <div class="card-text">
            <div *ngFor="let noParte of moldeadora.numerosParte">
                <img class="card-img-top img-thumbnail" src="{{ baseUrl + 'numerosparte/' + noParte + '/Photo' }} " /> {{ noParte }}
            </div>
        </div>
        <h1 *ngIf="
        moldeadora.estatus === 'Detenida' && moldeadora.numerosParte.length > 0
      " class="text-danger">
            {{ hoursDisplay ? hoursDisplay : "00" }} : {{ minutesDisplay && minutesDisplay
            <= 59 ? minutesDisplay : "00" }} : {{ secondsDisplay && secondsDisplay <= 59 ? secondsDisplay : "00" }} <br />
        </h1>
    </div>
    <div class="card-footer">
        <div class="btn-group d-flex">
            <button class="btn btn-success w-100" [routerLink]="['/moldeadoras/' + moldeadora.moldeadoraId]">
        Setup
      </button>

            <button *ngIf="moldeadora.estatus == 'Operando'" class="btn btn-danger w-100" (click)="openModal(template)">
        Detener
      </button>
            <button *ngIf="
          moldeadora.estatus == 'Detenida' && moldeadora.numerosParte.length > 0
        " class="btn btn-primary w-100" (click)="arrancarMoldeadora()">
        Arrancar
      </button>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-body text-center">
        <div class="row">
            <div class="col-md-12">
                <p>Observaciones</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea name="observaciones" id="observaciones" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-success" (click)="confirm()">
          Guardar
        </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-danger" (click)="decline()">
          Cancelar
        </button>
            </div>
        </div>
    </div>
</ng-template>