<div class="container">
    <div class="card broder-primary mt-4">
        <div class="card-header text-primary">Cambio contraseña</div>
        <div class="card-body">
            <div class="card-text">
                <form [formGroup]="userForm" (ngSubmit)="changePassword()" id="userForm">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="userName">Usuario</label>
                            <input type="hidden" formControlName="id" /> {{ user.userName }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label for="oldPassword">Contraseña Actual</label>
                            <input type="password" class="form-control" formControlName="oldPassword" placeholder="Contraseña actual" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="newPassword">Nueva Contraseña</label>
                            <input type="password" [ngClass]="{
                  'is-invalid':
                    userForm.get('newPassword').errors &&
                    userForm.get('newPassword').touched
                }" class="form-control" formControlName="newPassword" placeholder="Nueva Contraseña" />
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('newPassword').hasError('required') &&
                  userForm.get('newPassword').touched
                ">
                                Escribe una contraseña
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('newPassword').hasError('minlength') &&
                  userForm.get('newPassword').touched
                ">
                                Contraseña minima de 8 caracteres
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('newPassword').hasError('maxlength') &&
                  userForm.get('newPassword').touched
                ">
                                Contraseña máxima de 50 caracteres
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('newPassword').hasError('hasNumber') &&
                  userForm.get('newPassword').touched
                ">
                                La contraseña debe tener al menos 1 número
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('newPassword').hasError('hasCapitalCase') &&
                  userForm.get('newPassword').touched
                ">
                                La contraseña debe tener al menos 1 letra mayúscula
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
                            <label for="confirmPassword">Confirmar Nueva Contraseña</label>
                            <input type="password" [ngClass]="{
                  'is-invalid':
                    (userForm.get('confirmPassword').errors &&
                      userForm.get('confirmPassword').touched) ||
                    (userForm.get('confirmPassword').touched &&
                      userForm.hasError('mismatch'))
                }" class="form-control" formControlName="confirmPassword" placeholder="Confirmar Nueva Contraseña" />
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('confirmPassword').hasError('required') &&
                  userForm.get('confirmPassword').touched
                ">
                                Escribe una contraseña
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  userForm.hasError('mismatch') &&
                  userForm.get('confirmPassword').touched
                ">
                                Las contraseñas deben coincidir.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <button class="btn btn-success mr-1" [disabled]="!userForm.valid" type="submit">
                Guardar
              </button>
                            <a class="btn btn-danger " [routerLink]="['/home']">
                Cancelar
              </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>