<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">MMS</a>

        <ul *ngIf="loggedIn()" class="nav nav-pills navbar-nav mr-auto">
            <li class="nav-item dropdown" routerLinkActive="active" dropdown *appHasRole="['Admin', 'Almacen', 'Produccion', 'Ventas', 'Compras']">
                <a class="nav-link dropdown-toggle" dropdownToggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Almacén
        </a>
                <div class="dropdown-menu" *dropdownMenu x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" [routerLink]="['/materiales']" *appHasRole="['Admin', 'Almacen', 'Ventas']">Listado de Materias Primas</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/recibos']"
            *appHasRole="['Admin', 'Almacen']"
            >Recibos Materia Prima</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/existencias']"
            *appHasRole="[
              'Admin',
              'Almacen',
              'Produccion',
              'Ventas',
              'Compras'
            ]"
            >Inventario de Materia Prima</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/existenciasproducto']"
            *appHasRole="[
              'Admin',
              'Almacen',
              'Produccion',
              'Ventas',
              'Compras'
            ]"
            >Inventario de Producto Terminado</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/requerimientosprod']"
            *appHasRole="['Admin', 'Almacen']"
            >Req. Producción</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/viajeros']"
            *appHasRole="['Admin', 'Almacen']"
            >Viajeros</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/moldes']"
            *appHasRole="['Admin', 'Almacen', 'Produccion']"
            >Moldes</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/numerosParte']"
            *appHasRole="['Admin', 'Almacen', 'Ventas']"
            >NP de Producto Terminado</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/tiposmaterial']"
            *appHasRole="['Admin', 'Almacen']"
            >Tipos Materia Prima</a
          >

          <a
            class="dropdown-item"
            [routerLink]="['/movimientosproducto']"
            *appHasRole="['Admin', 'Almacen']"
            >Recepción de Producto Terminado</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/embarques']"
            *appHasRole="['Admin', 'Almacen']"
            >Embarques</a
          >
          <a
            class="dropdown-item"
            [routerLink]="['/localidades']"
            *appHasRole="['Admin', 'Almacen']"
            >Localidades</a
          >
        </div>
      </li>
      <li
        class="nav-item dropdown"
        routerLinkActive="active"
        dropdown
        *appHasRole="['Admin', 'Produccion']"
      >
        <a
          class="nav-link  dropdown-toggle"
          dropdownToggle
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Producción</a
        >
        <div
          class="dropdown-menu"
          *dropdownMenu
          x-placement="bottom-start"
          style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;"
        >
          <a class="dropdown-item" [routerLink]="['/requerimientos']"
            >Requerimientos Materia Prima</a
          >
          <a class="dropdown-item" [routerLink]="['/moldeadoras']"
            >Moldeadoras</a
          >
          <a class="dropdown-item" [routerLink]="['/moldeadoraslist']"
            >Listado Moldeadoras</a
          >
          <a class="dropdown-item" [routerLink]="['/addProduccion']"
            >Producción</a
          >
          <a class="dropdown-item" [routerLink]="['/motivostiempomuerto']"
            >Motivos Tiempo Muerto</a
          >
        </div>
      </li>
      <li
        class="nav-item dropdown"
        routerLinkActive="active"
        dropdown
        *appHasRole="['Admin', 'Compras']"
      >
        <a
          class="nav-link  dropdown-toggle"
          dropdownToggle
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Compras</a
        >
        <div
          class="dropdown-menu"
          *dropdownMenu
          x-placement="bottom-start"
          style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;"
        >
          <a class="dropdown-item" [routerLink]="['/ordenescompraproveedores']"
            >Ordenes Compra Proveedores</a
          >
          <a class="dropdown-item" [routerLink]="['/proveedores']"
            >Proveedores</a
          >
        </div>
      </li>
      <li
        class="nav-item dropdown"
        routerLinkActive="active"
        dropdown
        *appHasRole="['Admin', 'Ventas']"
      >
        <a
          class="nav-link  dropdown-toggle"
          dropdownToggle
          data-toggle="dropdown"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Ventas</a
        >
        <div
          class="dropdown-menu"
          *dropdownMenu
          x-placement="bottom-start"
          style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;"
        >
          <a class="dropdown-item" [routerLink]="['/ordenescompra']"
            >Ordenes Compra</a
          >
          <a class="dropdown-item" [routerLink]="['/clientes']">Clientes</a>
                </div>
            </li>
            <li *appHasRole="['Admin']" class="nav-item dropdown" routerLinkActive="active" dropdown>
                <a class="nav-link  dropdown-toggle" dropdownToggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración</a
        >
        <div
          class="dropdown-menu"
          *dropdownMenu
          x-placement="bottom-start"
          style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;"
        >
          <a class="dropdown-item" [routerLink]="['/admin']">Usuarios</a>
    </div>
    </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <button class="btn btn-link nav-item">
        <span class="fa fa-bell dropdown-title" title="notifications"></span>
      </button>
        <a class="dropdown-toggle text-light" dropdownToggle>
        {{
          authService.decodedToken?.given_name +
            " " +
            authService.decodedToken?.family_name | titlecase
        }}
      </a>

        <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item" href="/users/{{ authService.decodedToken?.nameid }}"><i class="fa fa-user"></i>Editar Perfil</a
        >
        <a
          class="dropdown-item"
          href="/users/changepassword/{{ authService.decodedToken?.nameid }}"
          ><i class="fa fa-lock"></i>Cambiar contraseña</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i>Salir</a
        >
      </div>
    </div>

    <form
      *ngIf="!loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        placeholder="Usuario"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        placeholder="Contraseña"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Entrar
      </button>
    </form>
  </div>
</nav>