<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/home']">Grupo Sion</a>

        <ul *ngIf="loggedIn()" class="nav nav-pills navbar-nav mr-auto">
            <li class="nav-item dropdown" routerLinkActive="active" dropdown>
                <a class="nav-link dropdown-toggle" dropdownToggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Almacén
        </a>
                <div class="dropdown-menu" *dropdownMenu x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" [routerLink]="['/materiales']">Materiales</a>
                    <a class="dropdown-item" [routerLink]="['/recibos']">Recibos</a>
                    <a class="dropdown-item" [routerLink]="['/existencias']">Existencias</a
          >
          <a class="dropdown-item" [routerLink]="['/requerimientosprod']"
            >Req. Producción</a
          >
          <a class="dropdown-item" [routerLink]="['/viajeros']">Viajeros</a>
                    <a class="dropdown-item" [routerLink]="['/moldes']">Moldes</a>
                    <a class="dropdown-item" [routerLink]="['/numerosParte']">Números Parte</a
          >
          <a class="dropdown-item" [routerLink]="['/tiposmaterial']"
            >Tipos Material</a
          >
          <a class="dropdown-item" [routerLink]="['/ordenescompra']"
            >Ordenes Compra</a
          >
          <a class="dropdown-item" [routerLink]="['/clientes']">Clientes</a>
                    <a class="dropdown-item" [routerLink]="['/proveedores']">Proveedores</a
          >
          <a class="dropdown-item" [routerLink]="['/movimientosproducto']"
            >Recepción Producto</a
          >
          <a class="dropdown-item" [routerLink]="['/embarques']">Embarques</a>
                </div>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active" dropdown>
                <a class="nav-link  dropdown-toggle" dropdownToggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Producción</a
        >
        <div
          class="dropdown-menu"
          *dropdownMenu
          x-placement="bottom-start"
          style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;"
        >
          <a class="dropdown-item" [routerLink]="['/requerimientos']"
            >Requerimientos</a
          >
          <a class="dropdown-item" [routerLink]="['/moldeadoras']"
            >Moldeadoras</a
          >
          <a class="dropdown-item" [routerLink]="['/addProduccion']"
            >Producción</a
          >
          <a class="dropdown-item" [routerLink]="['/motivostiempomuerto']"
            >Motivos Tiempo Muerto</a
          >
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link " [routerLink]="['/messages']">Administración</a>
            </li>
        </ul>
        <button class="btn btn-link nav-item">
      <span class="fa fa-bell dropdown-title" title="notifications"></span>
    </button>
        <div *ngIf="loggedIn()" class="dropdown" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>
        Usuario<!-- Welcome {{ authService.decodedToken?.unique_name | titlecase }} -->
      </a>

            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Editar Perfil</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i>Salir</a
        >
      </div>
    </div>

    <form
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        placeholder="Usuario"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        placeholder="Contraseña"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Entrar
      </button>
    </form>
  </div>
</nav>