<div class="container">
    <div class="card border-primary mt-4">
        <div class="card-header text-primary">
            Embarques
        </div>
        <div class="card-body">
            <div class="card-title">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-4">
                        <a class="btn btn-success" [routerLink]="['/addEmbarque']">Nuevo embarque</a
            >
          </div>
          <div class="form-group col-md-4">
            <input
              class="form-control"
              placeholder="Fechas"
              bsDaterangepicker
              [(ngModel)]="bsRangeValue"
              [bsConfig]="{ isAnimated: true, showPreviousMonth: true }"
              (bsValueChange)="onValueChange($event)"
            />
          </div>
          <div class="col-md-4">
            <input
              type="text"
              id="searchTextId"
              [(ngModel)]="searchText"
              name="searchText"
              placeholder="Buscar"
            />
            <i class="fa fa-search ml-1"></i>
          </div>
        </div>
      </div>
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-hover table-bordered mt-1">
            <thead>
              <tr class="table-primary">
                <th scope="col">Fecha</th>
                <th scope="col">Folio</th>
                <th scope="col">Cliente</th>
                <th scope="col">
                  No. Parte
                </th>
                <th scope="col">
                  Piezas
                </th>
                <th scope="col">Tipo</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody
              *ngFor="
                let embarque of embarques | searchEmbarque: searchText;
                let i = index
              "
            >
              <tr
                [ngClass]="{ 'table-secondary': i % 2 == 0 }"
                *ngFor="
                  let detalleEmbarque of embarque.detallesEmbarque;
                  let j = index
                "
              >
                <td>
                  {{ embarque.fecha | date: "dd-MM-yyyy" }}
                </td>
                <td>
                  {{ embarque.folio }}
                </td>
                <td>
                  {{ embarque.cliente }}
                </td>
                <td>
                  {{ detalleEmbarque.noParte }}
                </td>
                <td>{{ detalleEmbarque.entregadas }}</td>

                <td>
                  {{ embarque.rechazadas ? "Rechazadas" : "Certificadas" }}
                </td>

                <td>
                  <a
                    *ngIf="j === 0"
                    class="fa fa-edit"
                    [routerLink]="['/embarques/' + embarque.embarqueId]"
                  ></a>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>