<div class="container">
    <div class="card border-primary mt-4">
        <div class="card-header text-primary">Recibo No. {{ recibo.noRecibo }}</div>
        <div class="card-body">
            <div class="card-title p-2">
                <div class="row">
                    <div class="col-md-6">Proveedor: {{ recibo.proveedorNombre }}</div>
                    <div class="col-md-6">Entrada: {{ recibo.fechaEntrada | date }}</div>
                </div>
            </div>
            <div class="card-text">
                <form *ngIf="!recibo.isComplete" [formGroup]="reciboDetalleForm" (ngSubmit)="addDetalleRecibo()">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="material">Material</label>
                            <input type="hidden" formControlName="materialId" />
                            <input autocomplete="off" [typeahead]="materiales" typeaheadOptionField="material" [isAnimated]="true" type="text" #material [ngClass]="{
                  'is-invalid':
                    reciboDetalleForm.get('materialId').errors &&
                    reciboDetalleForm.get('material').touched
                }" class="form-control" formControlName="material" placeholder="Material" (typeaheadOnSelect)="onSelectMaterial($event)" />
                            <div class="invalid-feedback">
                                Debe seleccionar un material de la lista.
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="viajero">Viajero</label>
                            <input type="text" [ngClass]="{
                  'is-invalid':
                    reciboDetalleForm.get('viajero').errors &&
                    reciboDetalleForm.get('viajero').touched
                }" class="form-control text-right" formControlName="viajero" placeholder="Viajero" />
                            <div class="invalid-feedback" *ngIf="
                  reciboDetalleForm.get('viajero').hasError('required') &&
                  reciboDetalleForm.get('viajero').touched
                ">
                                El viajero es requerido
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  reciboDetalleForm
                    .get('viajero')
                    .hasError('viajeroExistente') &&
                  reciboDetalleForm.get('viajero').touched
                ">
                                El viajero ya existe.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-3 col-lg-3">
                            <label for="totalCajas">Total cajas</label>
                            <input type="number" (change)="calculaTotal()" (blur)="calculaTotal()" class="form-control text-right" formControlName="totalCajas" placeholder="Cajas" />
                        </div>
                        <div class="form-group col-sm-12 col-md-3 col-lg-3">
                            <label for="cantidadPorCaja">Cantidad por caja</label>
                            <input type="text" (blur)="calculaTotal()" class="form-control text-right" formControlName="cantidadPorCaja" placeholder="Cantidad por caja" />
                        </div>
                        <div class="form-group col-sm-12 col-md-3 col-lg-3">
                            <label for="total">Total</label>
                            <input type="text" [ngClass]="{
                  'is-invalid':
                    reciboDetalleForm.get('total').errors &&
                    reciboDetalleForm.get('total').touched
                }" class="form-control text-right" formControlName="total" placeholder="Total" />
                            <div class="invalid-feedback">El total es requerido</div>
                        </div>

                        <div class="form-group col-sm-12 col-md-3 col-lg-3">
                            <label for="unidadMedida">Unidad Medida</label>
                            <select class="form-control text-right" id="unidadMedidaId" formControlName="unidadMedidaId">
                <option
                  *ngFor="let unidadMedida of unidadesMedida"
                  [value]="unidadMedida.unidadMedidaId"
                >
                  {{ unidadMedida.unidad }}
                </option>
              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label for="localidad">Localización</label>
                            <input type="text" class="form-control" formControlName="localidad" placeholder="Loclización" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label for="referencia2">Referencia 2</label>
                            <input type="text" class="form-control" formControlName="referencia2" placeholder="Referencia 2/Control PEPS del Cliente" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label for="referenciaCliente">Referencia del cliente</label>
                            <input type="text" class="form-control" formControlName="referenciaCliente" placeholder="Referencia del Cliente" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-4">
                            <button class="btn btn-success" [disabled]="!reciboDetalleForm.valid" type="submit">
                Agregar
              </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div *ngIf="recibo.detalle.length > 0" class="card border-primary mt-2">
        <div class="card-header">Detalle</div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="mytable" class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr class="table-primary">
                            <th>Material</th>
                            <th class="text-right">Cajas</th>
                            <th class="text-right">Cantidad Por Caja</th>
                            <th class="text-right">Total</th>
                            <th class="text-right">Viajero</th>
                            <th>Localización</th>
                            <th *ngIf="!recibo.isComplete">Borrar</th>
                            <th *ngIf="recibo.isComplete">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of detallesRecibo">
                            <td scope="row">{{ item.material }}</td>
                            <td class="text-right">{{ item.totalCajas }}</td>
                            <td class="text-right">
                                {{ item.cantidadPorCaja | number: "1.3-3" }}
                            </td>
                            <td class="text-right">
                                {{ item.total | number: "1.3-3" }} {{ item.unidad }}
                            </td>

                            <td class="text-right">
                                <a *ngIf="recibo.isComplete; else show" [routerLink]="['/viajeros/' + item.viajero]">
                  {{ item.viajero }}</a
                >
                <ng-template #show>
                  <span>{{ item.viajero }}</span>
                </ng-template>
              </td>
              <td>{{ item.localidad }}</td>
              <td *ngIf="!recibo.isComplete">
                <span
                  class="btn btn-danger btn-xs"
                  (click)="$event.stopPropagation()"
                  (click)="deleteMaterial(item.material)"
                >
                  <span class="fa fa-trash"></span
                ></span>
              </td>
              <td *ngIf="recibo.isComplete">
                <a [routerLink]="['/detalleRecibo/' + item.detalleReciboId]">
                  <span class="btn btn-default btn-xs">
                    <span class="fa fa-edit"></span></span
                ></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="!recibo.isComplete" class="card-footer">
            <button class="btn btn-primary" (click)="$event.stopPropagation()" (click)="addDetalles()">
        Guardar Recibo
      </button>
        </div>
    </div>
</div>