.eqjs-menu-levelDiv {
    border: 1px solid silver;
    border-radius: 0 0 4px 4px;
    padding: 6px 0;
    box-shadow: 4px 8px 15px 0px rgba(0, 0, 0, 0.16);
}

.eqjs-menu-itemDiv {
    min-width: 158px;
    font-size: 0.9rem;
}

.eqjs-menu-itemDiv:hover {
    background-color: #ecf3f5 !important;
    color: #1776b1;
}