<div class="container mt-4">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="fechas">Fechas</label>
            <input class="form-control" placeholder="Fechas" bsDaterangepicker [(ngModel)]="bsRangeValue" [bsConfig]="{ isAnimated: true, showPreviousMonth: true }" (bsValueChange)="onValueChange($event)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <app-grafica-embarques #graficaEmbarques></app-grafica-embarques>
        </div>
        <div class="col-md-4">
            <app-grafica-embarques-numero-parte #graficaEmbarquesNP></app-grafica-embarques-numero-parte>
        </div>
        <div class="col-md-4">
            <app-embarques-totales #EmbarquesT></app-embarques-totales>
        </div>

        <div class="col-md-4">
            <app-embarques-top10 #EmbarquesTop10></app-embarques-top10>
        </div>
    </div>
</div>