<div class="container">
    <div class="card border-primary mt-4">
        <div class="card-header text-primary">Tipos Material</div>
        <div class="card-body">
            <div class="card-title">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-2">
                        <a class="btn btn-success" [routerLink]="['/addTipoMaterial']">Nuevo Tipo Material</a
            >
          </div>
          <div class="col-md-4">
            <!-- <input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Buscar" />
                      <i class="fa fa-search ml-1"></i> -->
          </div>
        </div>
      </div>
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped mt-1">
            <thead>
              <tr class="table-primary">
                <th scope="col">Tipo</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let tipoMaterial of tiposMaterial">
                <th scope="row">{{ tipoMaterial.tipo }}</th>
                <td class="text-center">
                  <a
                    class="fa fa-edit"
                    [routerLink]="[
                      '/tiposmaterial/' + tipoMaterial.tipoMaterialId
                    ]"
                  ></a>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>