<div class="card mb-4">
    <div class="card-header">
        Recibos
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h1 style="color: #606060;" size="5">
                    {{ totales.recibos }}
                </h1>
                <small>Recibos</small>
            </div>
            <div class="col-md-4">
                <h2 style="color: #606060;" size="5">
                    {{ totales.materiales }}
                </h2>
                <small>Materia Prima</small>
            </div>
            <div class="col-md-4">
                <h4 style="color: #606060;" size="5">
                    {{ totales.totalRecibido }}
                </h4>
                <small>Recibido</small>
            </div>
        </div>
    </div>
</div>