<div class="container mt-5">
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-success" [routerLink]="['/lists']">Nuevo Material</a>

        </div>
    </div>
    <table class="table table-hover mt-1">
        <thead>
            <tr class="table-primary">
                <th scope="col">Material</th>
                <th scope="col">Unidad Medida</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <th scope="row">XXX-000-001</th>
                <td>LB</td>
                <td>Resina Blanca</td>
                <td>FAWN</td>
            </tr>
            <tr class="active">
                <th scope="row">XXX-000-002</th>
                <td>LB</td>
                <td>Resina Verde</td>
                <td>NOVARES</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-003</th>
                <td>KG</td>
                <td>Resina Roja</td>
                <td>CARLISLE</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-004</th>
                <td>LB</td>
                <td>Resina</td>
                <td>FAWN</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-005</th>
                <td>LB</td>
                <td>Resina Blanca</td>
                <td>NOVARES</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">F56005</th>
                <td>PZA</td>
                <td>Empaque</td>
                <td>FAWN</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-008</th>
                <td>LB</td>
                <td>Resina Blanca</td>
                <td>NOVARES</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-009</th>
                <td>LB</td>
                <td>Resina Blanca</td>
                <td>NOVARES</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-010</th>
                <td>LB</td>
                <td>Resina Blanca</td>
                <td>NOVARES</td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-011</th>
                <td>LB</td>
                <td>Resina Blanca</td>
                <td>NOVARES</td>
            </tr>
        </tbody>
    </table>
</div>