<div class="container">
    <div class="card border-primary mt-4">
        <div class="card-header text-primary">Materiales</div>
        <div class="card-body">
            <div class="card-title">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-2">
                        <a class="btn btn-success" [routerLink]="['/addMaterial']">Nuevo Material</a
            >
          </div>
          <div class="col-md-4">
            <input
              type="text"
              id="searchTextId"
              [(ngModel)]="searchText"
              name="searchText"
              placeholder="Buscar"
            />
            <i class="fa fa-search ml-1"></i>
          </div>
        </div>
      </div>
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped mt-1">
            <thead>
              <tr class="table-primary">
                <th scope="col">Material</th>
                <th scope="col">Descripción</th>
                <th scope="col">Unidad Medida</th>
                <th scope="col">Tipo Material</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let material of materiales | searchByMaterial: searchText
                "
              >
                <th scope="row">{{ material.material }}</th>
                <td>{{ material.descripcion }}</td>
                <td>{{ material.unidadMedida }}</td>
                <td>{{ material.tipoMaterial }}</td>
                <td class="text-center">
                  <a
                    class="fa fa-edit"
                    [routerLink]="['/materiales/' + material.materialId]"
                  ></a>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>