<div class="container">
    <div class="card broder-primary mt-4">
        <div class="card-header text-primary">Editar Molde</div>
        <div class="card-body">
            <div class="card-text">
                <form [formGroup]="estatusMoldeForm" (ngSubmit)="editEstatusMolde()" id="estatusMoldeForm">
                    <div class="row">
                        <input type="hidden" formControlName="estatusMoldeId" />
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="estatus">Estatus</label>
                            <input type="text" [ngClass]="{
                  'is-invalid':
                    estatusMoldeForm.get('estatus').errors &&
                    estatusMoldeForm.get('estatus').touched
                }" class="form-control" formControlName="estatus" placeholder="Estatus" />
                            <div class="invalid-feedback" *ngIf="
                  estatusMoldeForm.get('estatus').hasError('required') &&
                  estatusMoldeForm.get('estatus').touched
                ">
                                El estatus es requerido
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <button class="btn btn-success mr-1" [disabled]="!estatusMoldeForm.valid" type="submit">
                Guardar</button
              ><a class="btn btn-danger " [routerLink]="['/estatusmoldes/']">
                Cancelar
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>