<div class="container">
    <div class="card broder-primary mt-4">
        <div class="card-header text-primary">
            Setup {{ moldeadora.moldeadora }}
        </div>
        <div class="card-body">
            <div class="card-text">
                <form [formGroup]="moldeadoraForm" (ngSubmit)="editMoldeadora()" id="moldeadoraForm">
                    <div class="row">
                        <input type="hidden" formControlName="moldeadoraId" />
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <input type="hidden" formControlName="moldeId" />
                            <label for="molde">Molde</label>
                            <input autocomplete="off" [typeahead]="moldes" typeaheadOptionField="molde" [isAnimated]="true" class="form-control" id="molde" formControlName="molde" placeholder="Molde" (typeaheadOnSelect)="onSelectMolde($event)" />
                        </div>
                    </div>
                    <div *ngIf="numerosParteSolicitados.length > 0" class="table-responsive mt-2 ">
                        <table id="mytable " class="table table-bordred table-striped ">
                            <thead>
                                <tr class="table-primary ">
                                    <th>No. Parte</th>

                                    <th>Bloquear</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let noParte of numerosParteSolicitados">
                                    <td scope="row ">{{ noParte }}</td>
                                    <td>
                                        <span class="btn btn-danger btn-xs " (click)="$event.stopPropagation()" (click)="deleteNumeroParte(noParte)">
                      <span class="fa fa-ban "></span
                    ></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <input type="hidden" formControlName="materialId" />
                            <label for="material">Material</label>
                            <input autocomplete="off" [typeahead]="materiales" typeaheadOptionField="material" [isAnimated]="true" class="form-control" id="material" formControlName="material" placeholder="Material" (typeaheadOnSelect)="onSelectMaterial($event)" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="Cliente">Estatus</label>
                            <select class="form-control" id="estatus" formControlName="estatus">
                <option>
                  Operando
                </option>
                <option>
                  Detenida
                </option>
              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <button class="btn btn-success mr-1" [disabled]="!moldeadoraForm.valid" type="submit">
                Guardar
              </button>
                            <button class="btn btn-danger" [disabled]="!moldeadoraForm.get('moldeId').value" (click)="$event.preventDefault()" (click)="resetMoldeadora(); $event.stopPropagation()">
                Limpiar
              </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>