<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h1>Producto Terminado {{ numeroParte.noParte }}</h1>
        </div>
    </div>
    <div class="card">
        <form [formGroup]="numeroParteForm" (ngSubmit)="editNumeroParte()" id="numeroParteForm">
            <div class="row">
                <div class="col-sm-4">
                    <img ng2FileDrop [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="card-img-left img-thumbnail  my-drop-zone" [src]="urlImagenPieza" alt="{{ numeroParte.noParte }}" />
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <div class="card-text">
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="Cliente">Cliente</label>
                                    <select class="form-control" id="clienteId" formControlName="clienteId">
                    <option
                      *ngFor="let cliente of clientes"
                      [value]="cliente.clienteId"
                    >
                      {{ cliente.cliente }}
                    </option>
                  </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <input type="hidden" formControlName="noParte" />
                                    <label for="descripcion">Descripción</label>
                                    <input type="text" class="form-control" formControlName="descripcion" placeholder="Descripción" />
                                </div>
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="descripcion">Leyenda Pieza</label>
                                    <input type="text" class="form-control" formControlName="leyendaPieza" placeholder="Leyenda" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="descripcion">Peso</label>
                                    <div class="input-group margin-bottom">
                                        <input type="number" class="form-control" formControlName="peso" placeholder="Peso" style="text-align: right" />
                                        <span class="input-group-addon input-source-observer">Lbs</span
                    >
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                  <label for="descripcion">Precio</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="costo"
                    placeholder="Precio"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12  col-md-6 col-lg-6">
                  <label for="urlImagenPieza">Imagen</label>
                  <input type="file" ng2FileSelect [uploader]="uploader" />
                </div>
                <div
                  class="col-md-9"
                  style="margin-bottom: 40px"
                  *ngIf="uploader?.queue?.length"
                >
                  <table class="table">
                    <thead>
                      <tr>
                        <th width="50%">Nombre</th>
                        <th>Tamaño</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of uploader.queue">
                        <td>
                          <strong>{{ item?.file?.name }}</strong>
                        </td>
                        <td *ngIf="uploader.options.isHTML5" nowrap>
                          {{ item?.file?.size / 1024 / 1024 | number: ".2" }} MB
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <div>
                    <div>
                      Progreso:
                      <div class="progress mb-4">
                        <div
                          class="progress-bar"
                          role="progressbar"
                          [ngStyle]="{ width: uploader.progress + '%' }"
                        ></div>
                      </div>
                    </div>
                    <button
                      type="button"
                      class="btn btn-success btn-s"
                      (click)="uploader.uploadAll()"
                      [disabled]="!uploader.getNotUploadedItems().length"
                    >
                      <span class="fa fa-upload"></span> Subir
                                        </button>
                                        <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                      <span class="fa fa-ban"></span> Cancelar
                    </button>
                                        <button type="button" class="btn btn-danger btn-s" (click)="removerImagen()" [disabled]="!uploader.queue.length">
                      <span class="fa fa-trash"></span> Borrar
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header text-primary">Materiales</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input autocomplete="off" [typeahead]="materialesCat" typeaheadOptionField="material" [isAnimated]="true" class="form-control" id="material" formControlName="material" placeholder="Material" (typeaheadOnSelect)="onSelectMaterial($event)" />
                                        <input type="hidden" id="materialId" formControlName="materialId" />
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" id="cantidad" formControlName="cantidad" placeholder="Cantidad" />
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-success btn-xs" type="button" [disabled]="!numeroParteForm.get('materialId').value" (click)="addMaterial()">
                      <span class="fa fa-plus-circle "> </span>
                    </button>
                                    </div>
                                </div>
                                <div class="table-responsive mt-2">
                                    <table id="materialesTable" class="table table-hover table-bordered table-striped">
                                        <thead>
                                            <tr class="table-primary">
                                                <th>Material</th>
                                                <th>Cantidad</th>
                                                <th>Borrar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let material of materiales">
                                                <td scope="row">{{ material.material.material }}</td>
                                                <td scope="row">
                                                    {{ material.cantidad }}
                                                </td>
                                                <td>
                                                    <span class="btn btn-danger btn-xs" (click)="$event.stopPropagation()" (click)="
                              deleteMaterial(material.material.materialId)
                            ">
                            <span class="fa fa-trash"></span
                          ></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-header text-primary">Moldes</div>
                            <div class="card-body">
                                <input autocomplete="off" [typeahead]="moldesCat" typeaheadOptionField="molde" [isAnimated]="true" class="form-control" id="molde" formControlName="molde" placeholder="Molde" (typeaheadOnSelect)="onSelectMolde($event)" />
                                <div class="table-responsive mt-2">
                                    <table id="moldesTable" class="table table-hover table-bordered table-striped">
                                        <thead>
                                            <tr class="table-primary">
                                                <th>Molde</th>
                                                <th>Borrar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let molde of moldes">
                                                <td scope="row">{{ molde.molde }}</td>
                                                <td>
                                                    <span class="btn btn-danger btn-xs" (click)="$event.stopPropagation()" (click)="deleteMolde(molde.id)">
                            <span class="fa fa-trash"></span
                          ></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <div class="card-body">
                        <button class="btn btn-success" [disabled]="!numeroParteForm.valid" type="submit">
              Guardar
            </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>