<div class="container">
    <div class="card border-primary mt-4">
        <div class="card-header text-primary">Usuarios</div>
        <div class="card-body">
            <div class="card-title">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-2">
                        <a class="btn btn-success" [routerLink]="['/addUser']">Nuevo Usuario</a
            >
          </div>
          <div class="col-md-4">
            <input
              type="text"
              id="searchTextId"
              [(ngModel)]="searchText"
              name="searchText"
              placeholder="Buscar"
            />
            <i class="fa fa-search ml-1"></i>
          </div>
        </div>
      </div>
      <div class="card-text">
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped mt-1">
            <thead>
              <tr class="table-primary">
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Roles</th>
                <th scope="col">Editar</th>
                <th scope="col">Borrar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td scope="row">{{ user.userName }}</td>
                <td>{{ user.nombre + " " + user.paterno }}</td>
                <td>{{ user.roles }}</td>
                <td class="text-center">
                  <a
                    class="fa fa-edit"
                    [routerLink]="['/admin/users/' + user.id]"
                  ></a>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteUser(user.id)">
                    <div class="fa fa-trash"></div>
                  </button>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>