<div class="container">
    <div class="card broder-primary mt-4">
        <div class="card-header text-primary">Nueva Localidad</div>
        <div class="card-body">
            <div class="card-text">
                <form [formGroup]="localidadForm" (ngSubmit)="addLocalidad()" id="localidadForm">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="localidad">Localidad</label>
                            <input type="text" [ngClass]="{
                  'is-invalid':
                    localidadForm.get('localidad').errors &&
                    localidadForm.get('localidad').touched
                }" class="form-control" formControlName="localidad" placeholder="Localidad" />
                            <div class="invalid-feedback" *ngIf="
                  localidadForm.get('localidad').hasError('required') &&
                  localidadForm.get('localidad').touched
                ">
                                La localidad es requerida
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <button class="btn btn-success mr-1" [disabled]="!localidadForm.valid" type="submit">
                Guardar
              </button>
                            <a class="btn btn-danger " [routerLink]="['/localidades/']">
                Cancelar
              </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>