<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card  border-primary mt-4">
                <div class="card-header text-primary">Materiales en almacén</div>
                <div class="card-body">
                    <div class="card-title">
                        <div class="row d-flex justify-content-between">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Buscar" />
                                <i class="fa fa-search ml-1"></i>
                            </div>
                        </div>
                    </div>
                    <div class="card-text font-weight-lighter">
                        <div class="table-responsive">
                            <table id="mytable" class="table table-bordred table-striped">
                                <thead>
                                    <tr class="table-primary">
                                        <th>No. Parte</th>
                                        <th>Material</th>
                                        <th class="text-right">Existencia</th>
                                        <th>Sol.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="
                      let item of existencias
                        | searchMaterialExistencias: searchText
                    ">
                                        <td>{{ item.numerosParte }}</td>
                                        <td scope="row">{{ item.material }}</td>
                                        <td class="text-right">
                                            {{ item.existencia | number: "1.3-3" }}
                                        </td>
                                        <td>
                                            <i (click)="
                          seleccionarMaterial(item.materialId, item.material)
                        " class="fa fa-arrow-circle-right"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card  border-primary mt-4">
                <div class="card-header text-primary">
                    Requerimiento de material a almacén
                </div>
                <div class="card-body">
                    <form [formGroup]="requerimientoForm" (ngSubmit)="addRequerimiento()">
                        <div class="card-title">
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-10 col-lg-10">
                                    <label for="jefaLinea">Jefa de linea</label>
                                    <input type="text" class="form-control" formControlName="jefaLinea" placeholder="Jefa de línea" />
                                </div>
                                <div class="form-group col-sm-12 col-md-2 col-lg-2">
                                    <label for="turno">Turno</label>
                                    <select class="form-control" id="turnoId" formControlName="turnoId">
                    <option
                      *ngFor="let turno of turnos"
                      [value]="turno.turnoId"
                    >
                      {{ turno.descripcion }}
                    </option>
                  </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12 col-md-5 col-lg-5">
                                    <label for="material">Material</label>
                                    <input type="text" [readonly]="true" class="form-control" value="{{ rmm.material }}" placeholder="Material" />
                                    <input type="hidden" value="{{ rmm.materialId }}" />
                                </div>
                                <div class="form-group col-sm-12 col-md-3 col-lg-3">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="text" #cantidad class="form-control text-right" value="{{ rmm.cantidad }}" (blur)="updateCantidad(cantidad.value)" placeholder="Cantidad" />
                                </div>
                                <div class="form-group col-sm-12 col-md-2 col-lg-2">
                                    <label for="turno">UM</label>
                                    <select class="form-control" #um id="unidadMedidaId" value="{{ rmm.unidadMedidaId }}" (change)="updateUnidadMedida(um.value)">
                    <option
                      *ngFor="let unidadMedida of unidadesMedida"
                      [value]="unidadMedida.unidadMedidaId"
                    >
                      {{ unidadMedida.descripcion }}
                    </option>
                  </select>
                                </div>
                                <div class="form-inline mt-3">
                                    <button class="btn btn-success btn-xs" type="button" [disabled]="!rmm.materialId" (click)="addRequerimientoMaterial()">
                    <span class="fa fa-plus-circle "> </span>
                  </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-text ">
                            <div class="table-responsive ">
                                <table id="mytable " class="table table-bordred table-striped ">
                                    <thead>
                                        <tr class="table-primary ">
                                            <th>Material</th>
                                            <th class="text-right ">Cantidad</th>
                                            <th>Borrar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of materialesSolicitados">
                                            <td scope="row ">{{ item.material }}</td>
                                            <td class="text-right ">
                                                {{ item.cantidad | number: "1.3-3" }}
                                            </td>
                                            <td>
                                                <span class="btn btn-danger btn-xs " (click)="$event.stopPropagation()" (click)="deleteMaterial(item.materialId)">
                          <span class="fa fa-trash "></span
                        ></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer modal-footer ">
                            <button type="submit" class="btn btn-primary" form="requerimientoForm" [disabled]="materialesSolicitados.length === 0">
                Solicitar
              </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>