<div class="container">
    <div class="card border-primary mt-4">
        <div class="card-header text-primary">Viajeros del Material</div>
        <div class="card-body">
            <div class="card-title p-2 table-success">
                <h4>
                    <strong>{{ viajeros[0].material }}</strong>
                </h4>
            </div>
            <div class="card-text">
                <div class="table-responsive mt-2">
                    <table id="mytable" class="table table-hover table-bordered table-striped">
                        <thead>
                            <tr class="table-primary">
                                <th>Viajero</th>
                                <th class="text-right">Existencia</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of viajeros" [routerLink]="['/viajeros/' + item.viajero]">
                                <td scope="row">{{ item.viajero }}</td>
                                <td class="text-right">
                                    {{ item.existencia | number: "1.3-3" }}
                                </td>
                                <td>{{ item.fecha | date: "dd-MM-yyyy HH:mm" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>