<div class="container">
    <div class="container">
        <form>
            <fieldset>
                <legend>XXX-000-001</legend>

                <div class="form-group">
                    <label for="exampleInputEmail1">Cantidad</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cantidad">
                </div>
                <div class="form-group">
                    <label for="exampleSelect1">Unidad de Medida</label>
                    <select class="form-control" id="exampleSelect1">
                  <option>LB</option>
                  <option>KG</option>
                  <option>PZA</option>
                </select>
                </div>

                <button type="submit" class="btn btn-primary">Solicitar</button>
            </fieldset>
        </form>
    </div>
</div>