<div class="container">
    <div class="card broder-primary mt-4">
        <div class="card-header text-primary">Orden de Compra</div>
        <div class="card-body">
            <div class="card-text">
                <form [formGroup]="ordenCompraForm" (ngSubmit)="editOrdenCompra()">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label for="noOrden">No. Orden: </label>
                            <span>{{ ordenCompra.noOrden }}</span>
                            <input type="hidden" id="noOrden" formControlName="noOrden" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label for="Cliente">Cliente: </label>
                            <span>{{ ordenCompra.cliente }}</span>
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label for="fecha">Fecha: </label>
                            <span>{{ ordenCompra.fecha | date: "dd/MM/yyyy" }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header text-primary">Numeros de parte</div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input autocomplete="off" [typeahead]="numerosParteCat" typeaheadOptionField="noParte" [isAnimated]="true" class="form-control" id="noParte" formControlName="noParte" placeholder="Número Parte" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="cantidad" formControlName="cantidad" placeholder="Cantidad" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" id="precio" formControlName="precio" placeholder="Precio" />
                                        </div>
                                    </div>
                                    <div class="row mt-1">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" bsDatepicker [bsConfig]="bsConfig" id="fechaInicio" formControlName="fechaInicio" placeholder="Fecha Inicio" />
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" bsDatepicker [bsConfig]="bsConfig" id="fechaFin" formControlName="fechaFin" placeholder="Fecha Fin" />
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-success btn-xs" type="button" [disabled]="!ordenCompraForm.get('noParte').value" (click)="addNumeroParte()">
                        <span class="fa fa-plus-circle "> </span>
                      </button>
                                        </div>
                                    </div>
                                    <div *ngIf="detalles.length > 0" class="table-responsive mt-2">
                                        <table id="materialesTable" class="table table-hover table-bordered table-striped">
                                            <thead>
                                                <tr class="table-primary">
                                                    <th>No. Parte</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th>Inicio</th>
                                                    <th>Fin</th>
                                                    <th>Editar</th>
                                                    <th>Borrar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let detalle of detalles">
                                                    <td scope="row">{{ detalle.noParte }}</td>
                                                    <td>
                                                        {{ detalle.piezasAutorizadas }}
                                                    </td>
                                                    <td>
                                                        {{ detalle.precio }}
                                                    </td>
                                                    <td>
                                                        {{ detalle.fechaInicio | date: "dd-MM-yyyy" }}
                                                    </td>
                                                    <td>
                                                        {{ detalle.fechaFin | date: "dd-MM-yyyy" }}
                                                    </td>
                                                    <td>
                                                        <span class="btn btn-default btn-xs"><a
                                [routerLink]="[
                                  '/detallesordencompra/' + detalle.id
                                ]"
                              >
                                <span class="fa fa-edit"></span></a>
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="btn btn-danger btn-xs" (click)="$event.stopPropagation()" (click)="deleteNumeroParte(detalle.id)">
                              <span class="fa fa-trash"></span
                            ></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>