<div class="container">
    <div class="card border-primary mt-4">
        <div class="card-header text-primary">
            Producción
        </div>
        <div class="card-body">
            <div class="card-title">
                <div class="row d-flex justify-content-between">
                    <div class="col-md-4">
                        <a class="btn btn-success" [routerLink]="['/addProduccion']">Capturar Producción</a
            >
          </div>
          <div class="form-group col-md-4">
            <input
              class="form-control"
              placeholder="Fechas"
              bsDaterangepicker
              [(ngModel)]="bsRangeValue"
              [bsConfig]="{ isAnimated: true, showPreviousMonth: true }"
              (bsValueChange)="onValueChange($event)"
            />
          </div>
          <div class="col-md-4">
            <input
              type="text"
              id="searchTextId"
              [(ngModel)]="searchText"
              name="searchText"
              placeholder="Buscar"
            />
            <i class="fa fa-search ml-1"></i>
          </div>
        </div>
      </div>
      <div class="card-text">
        <div
          class="table-responsive card border-dark mt-4"
          *ngFor="let prod of producciones | searchProduccion: searchText"
        >
          <div class="card-body">
            <div class="card-text">
              <div class="row table-primary">
                <div class="col-3">
                  Fecha
                </div>
                <div class="col-3">
                  Moldeadora
                </div>
                <div class="col-3">
                  Purga
                </div>
                <div class="col-3">
                  Colada
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  {{ prod.fecha | date: "dd/MM/yyyy" }}
                </div>
                <div class="col-3">
                  {{ prod.moldeadora }}
                </div>
                <div class="col-3">
                  {{ prod.purga }}
                </div>
                <div class="col-3">
                  {{ prod.colada }}
                </div>
              </div>
              <div class="row table-bordered table-success">
                <div class="col-4 border">No. Parte</div>
                <div class="col-4 border">Piezas</div>
                <div class="col-4 border">Scrap</div>
              </div>
              <div
                class="row  table-bordered"
                *ngFor="let item of prod.produccionNumerosParte"
              >
                <div class="col-4 border-right">
                  {{ item.noParte }}
                </div>
                <div class="col-4 border-right">
                  {{ item.piezas }}
                </div>
                <div class="col-4">
                  {{ item.scrap }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>