<div class="container mt-5">
    <h4>Existencias</h4>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Material</th>
                <th scope="col">Almacen</th>
                <th scope="col">Producción</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <th scope="row">XXX-000-001</th>
                <td>1200</td>
                <td>900</td>
                <td><a href="#">Movimientos</a></td>
                <td><a [routerLink]="['/solicitarMaterial','XXX-000-001']">Solicitar</a></td>
            </tr>
            <tr class="active">
                <th scope="row">XXX-000-002</th>
                <td>576</td>
                <td>1320</td>
                <td><a href="#">Movimientos</a></td>
                <td><a [routerLink]="['/solicitarMaterial','XXX-000-002']">Solicitar</a></td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-003</th>
                <td>987</td>
                <td>721</td>
                <td><a href="#">Movimientos</a></td>
                <td><a [routerLink]="['/solicitarMaterial','XXX-000-003']">Solicitar</a></td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-004</th>
                <td>425</td>
                <td>0</td>
                <td><a href="#">Movimientos</a></td>
                <td><a [routerLink]="['/solicitarMaterial','XXX-000-004']">Solicitar</a></td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-005</th>
                <td>20600</td>
                <td>1520</td>
                <td><a href="#">Movimientos</a></td>
                <td><a [routerLink]="['/solicitarMaterial','XXX-000-005']">Solicitar</a></td>
            </tr>
            <tr class="table-secondary">
                <th scope="row">XXX-000-006</th>
                <td>850</td>
                <td>170</td>
                <td><a href="#">Movimientos</a></td>
                <td><a [routerLink]="['/solicitarMaterial','XXX-000-006']">Solicitar</a></td>
            </tr>

        </tbody>
    </table>
</div>