<div class="container mt-4">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="fechas">Fechas</label>
            <input class="form-control" placeholder="Fechas" bsDaterangepicker [(ngModel)]="bsRangeValue" [bsConfig]="{ isAnimated: true, showPreviousMonth: true }" (bsValueChange)="onValueChange($event)" />
        </div>
        <div class="form-group col-md-4">
            <label for="NoParte">No. Parte</label>
            <input type="text" [typeahead]="numerosParte" typeaheadOptionField="noParte" [isAnimated]="true" class="form-control" [(ngModel)]="noParte" placeholder="No. Parte" (typeaheadOnSelect)="onSelectNumeroParte($event)" (ngModelChange)="noParteChange()" />
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-title">Embarques por número parte</div>
            <div class="card-text">
                <div style="display: block">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="pieChartOptions" [legend]="pieChartLegend" [chartType]="pieChartType">
          </canvas>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/dashboard']" [queryParams]="reporteParams">Dashboard</a
      >
    </div>
  </div>
</div>