<div class="container">
    <div class="card broder-primary mt-4">
        <div class="card-header text-primary">Nuevo Recibo</div>
        <div class="card-body">
            <div class="card-text">
                <form [formGroup]="reciboForm" (ngSubmit)="addRecibo()" id="reciboForm">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-4">
                            <label for="Cliente">Proveedor</label>
                            <select class="form-control" id="proveedorId" formControlName="proveedorId">
                <option
                  *ngFor="let proveedor of proveedores"
                  [value]="proveedor.proveedorId"
                >
                  {{ proveedor.nombre }}
                </option>
              </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-12 col-lg-4">
                            <label for="noRecibo">No. Recibo</label>
                            <input type="text" [ngClass]="{
                  'is-invalid':
                    reciboForm.get('noRecibo').errors &&
                    reciboForm.get('noRecibo').touched
                }" class="form-control" formControlName="noRecibo" placeholder="No. Recibo" />
                            <div class="invalid-feedback" *ngIf="
                  reciboForm.get('noRecibo').hasError('required') &&
                  reciboForm.get('noRecibo').touched
                ">
                                El recibo es requerido
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  reciboForm.get('noRecibo').hasError('reciboExistente') &&
                  reciboForm.get('noRecibo').touched
                ">
                                El recibo ya existe.
                            </div>
                        </div>

                        <div class="form-group col-sm-12 col-md-12 col-lg-4">
                            <label for="fechaEntrada">Fecha Entrada</label>
                            <input class="form-control" placeholder="Fecha entrada" type="text" bsDatepicker [bsConfig]="bsConfig" formControlName="fechaEntrada" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <label for="descripcion">Descripción</label>
                            <input class="form-control" placeholder="Descripción" formControlName="descripcion" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="transportista">Transportista</label>
                            <input class="form-control" placeholder="Transportista" formControlName="transportista" />
                        </div>
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="recibio">Recibió</label>
                            <input class="form-control" placeholder="Recibió" formControlName="recibio" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-4">
                            <button class="btn btn-success mr-1" [disabled]="!reciboForm.valid" type="submit">
                Guardar
              </button>
                            <a class="btn btn-danger " [routerLink]="['/recibos']">
                Cancelar
              </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>