<div class="container">
    <div class="card border-primary mt-4">
        <div class="card-header text-primary">
            Recibo No. {{ detalleRecibo.noRecibo }}
        </div>
        <div class="card-body">
            <form [formGroup]="reciboDetalleForm" (ngSubmit)="editDetalleRecibo()">
                <div class="card-title p-2">
                    <input type="hidden" value="detalleReciboId" formControlName="detalleReciboId" />
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="material">Material: {{ detalleRecibo.material }}</label
              >
              <input
                type="hidden"
                value="materialId"
                formControlName="materialId"
              />
            </div>
            <div class="form-group col-sm-12 col-md-6 col-lg-6">
              <label for="viajero">Viajero: {{ detalleRecibo.viajero }}</label>
                            <input type="hidden" value="viajero" formControlName="viajero" />
                        </div>
                    </div>
                </div>
                <div class="card-text">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-3 col-lg-3">
                            <label for="totalCajas">Total cajas</label>
                            <input type="number" (change)="calculaTotal()" (blur)="calculaTotal()" class="form-control text-right" formControlName="totalCajas" placeholder="Cajas" />
                        </div>
                        <div class="form-group col-sm-12 col-md-3 col-lg-3">
                            <label for="cantidadPorCaja">Cantidad por caja</label>
                            <input type="text" (blur)="calculaTotal()" class="form-control text-right" formControlName="cantidadPorCaja" placeholder="Cantidad por caja" />
                        </div>
                        <div class="form-group col-sm-12 col-md-3 col-lg-3">
                            <label for="total">Total</label>
                            <input type="text" [ngClass]="{
                  'is-invalid':
                    reciboDetalleForm.get('total').errors &&
                    reciboDetalleForm.get('total').touched
                }" class="form-control text-right" formControlName="total" placeholder="Total" />
                            <div class="invalid-feedback">El total es requerido</div>
                        </div>

                        <div class="form-group col-sm-12 col-md-3 col-lg-3">
                            <label for="unidadMedida">Unidad Medida</label>
                            <select class="form-control text-right" id="unidadMedidaId" formControlName="unidadMedidaId">
                <option
                  *ngFor="let unidadMedida of unidadesMedida"
                  [value]="unidadMedida.unidadMedidaId"
                >
                  {{ unidadMedida.unidad }}
                </option>
              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label for="localidad">Localización</label>
                            <input type="text" class="form-control" formControlName="localidad" placeholder="Loclización" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label for="referencia2">Referencia 2</label>
                            <input type="text" class="form-control" formControlName="referencia2" placeholder="Referencia 2/Control PEPS del Cliente" />
                        </div>
                        <div class="form-group col-sm-12 col-md-4 col-lg-4">
                            <label for="referenciaCliente">Referencia del cliente</label>
                            <input type="text" class="form-control" formControlName="referenciaCliente" placeholder="Referencia del Cliente" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-4">
                            <button class="btn btn-success mr-1" [disabled]="!reciboDetalleForm.valid" type="submit">
                Guardar
              </button>
                            <a class="btn btn-danger " [routerLink]="['/recibos/' + detalleRecibo.reciboId]">
                Cancelar
              </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>