<div class="container">
    <div class="card broder-primary mt-4">
        <div class="card-header text-primary">Nueva Materia Prima</div>
        <div class="card-body">
            <div class="card-text">
                <form [formGroup]="materialForm" (ngSubmit)="editMaterial()">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="material">Materia Prima</label>
                            <input type="hidden" formControlName="materialId" />
                            <input type="text" [ngClass]="{
                  'is-invalid':
                    materialForm.get('material').errors &&
                    materialForm.get('material').touched
                }" class="form-control" formControlName="material" placeholder="Material" />
                            <div class="invalid-feedback" *ngIf="
                  materialForm.get('material').hasError('required') &&
                  materialForm.get('material').touched
                ">
                                La materia prima es requerida
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  materialForm.get('material').hasError('materialExistente') &&
                  materialForm.get('material').touched
                ">
                                La materia prima ya existe.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="descripcion">Descripción</label>
                            <input type="text" class="form-control" formControlName="descripcion" placeholder="Descripción" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="unidadMedidaId">Unidad Medida</label>
                            <select class="form-control" id="unidadMedidaId" formControlName="unidadMedidaId">
                <option
                  *ngFor="let um of unidadesMedida"
                  [value]="um.unidadMedidaId"
                >
                  {{ um.unidad }}
                </option>
              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="tipoMaterialId">Tipo Materia Prima</label>
                            <select class="form-control" id="tipoMaterialId" formControlName="tipoMaterialId">
                <option
                  *ngFor="let tipo of tiposMaterial"
                  [value]="tipo.tipoMaterialId"
                >
                  {{ tipo.tipo }}
                </option>
              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <button class="btn btn-success" [disabled]="!materialForm.valid" type="submit">
                Guardar
              </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>