<div class="card mb-4">
    <div class="card-header">
        Embarques
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h1 style="color: #606060;" size="5">
                    {{ totales.embarques }}
                </h1>
                <small>Embarques</small>
            </div>
            <div class="col-md-4">
                <h2 style="color: #606060;" size="5">
                    {{ totales.numerosParte }}
                </h2>
                <small>Numeros Parte</small>
            </div>
            <div class="col-md-4">
                <h4 style="color: #606060;" size="5">
                    {{ totales.piezasentregadas }}
                </h4>
                <small>Piezas</small>
            </div>
        </div>
    </div>
</div>