<div class="container">
    <div class="card broder-primary mt-4">
        <div class="card-header text-primary">Editar Usuario</div>
        <div class="card-body">
            <div class="card-text">
                <form [formGroup]="userForm" (ngSubmit)="editUser()" id="userForm">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="userName">Usuario</label>
                                    <input type="hidden" formControlName="id" /> {{ user.userName }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="clave">Nombre</label>
                                    <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="direccion">Paterno</label>
                                    <input type="text" class="form-control" formControlName="paterno" placeholder="Apellido Paterno" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="materno">Materno</label>
                                    <input type="text" class="form-control" formControlName="materno" placeholder="Apellido Materno" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="roles">Roles</label>
                                    <div class="form-check" *ngFor="let role of selectedRoles">
                                        <input type="checkbox" class="form-check-input" value="role.value" [checked]="role.checked" (change)="role.checked = !role.checked" [disabled]="
                        role.name === 'Admin' && user.userName === 'Admin'
                      " />
                                        <label>{{ role.name }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="form-group col-sm-12 col-md-6 col-lg-6">
                            <label for="password">Contraseña</label>
                            <input type="password" [ngClass]="{
                  'is-invalid':
                    userForm.get('password').errors &&
                    userForm.get('password').touched
                }" class="form-control" formControlName="password" placeholder="Password" />
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('password').hasError('required') &&
                  userForm.get('password').touched
                ">
                                Escribe una contraseña
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('password').hasError('minlength') &&
                  userForm.get('password').touched
                ">
                                Contraseña minima de 8 caracteres
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('password').hasError('maxlength') &&
                  userForm.get('password').touched
                ">
                                Contraseña máxima de 50 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
                            <label for="confirmPassword">Confirmar Contraseña</label>
                            <input type="password" [ngClass]="{
                  'is-invalid':
                    (userForm.get('confirmPassword').errors &&
                      userForm.get('confirmPassword').touched) ||
                    (userForm.get('confirmPassword').touched &&
                      userForm.hasError('mismatch'))
                }" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" />
                            <div class="invalid-feedback" *ngIf="
                  userForm.get('confirmPassword').hasError('required') &&
                  userForm.get('confirmPassword').touched
                ">
                                Escribe una contraseña
                            </div>
                            <div class="invalid-feedback" *ngIf="
                  userForm.hasError('mismatch') &&
                  userForm.get('confirmPassword').touched
                ">
                                Las contraseñas deben coincidir.
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <button class="btn btn-success mr-1" [disabled]="!userForm.valid" type="submit">
                Guardar
              </button>
                            <a class="btn btn-danger " [routerLink]="['/admin']">
                Cancelar
              </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>